<div class="card">  
    <div class="card-header" style="text-align:center">  
        <b>View Task</b>
    </div>
    <div class="card-body">
        <form [formGroup]='FromViewtask' (ngSubmit)="GetProjectByID(FromViewtask.value.projectID)">
            <div class="row">
                <div class="form-group form-inline col-sm-3 mr-sm-3">
            <!-- <label form="company">Project: </label>  -->
            <!-- <select class="form-control" id="userID" name="userID" formControlName="userID" (select)="GetUser()"> -->
                    <select class="form-control custom-select" id="projectID" name="projectID" formControlName="projectID" (change)="GetProject($event)">
                        <option value="disabled" selected>Choose Project</option>
                        <option *ngFor="let Project of allProject" [value]="Project.projectID">{{Project.projectDesc}}</option>
                    </select>
                <!-- <div class="form-group form-inline col-sm-3 mr-sm-3">   -->
                    <button type="submit" class="btn btn-primary" >Search</button>  
                </div> 
            </div>
        </form>
        <label form="company">Sort Task By: </label>
        <td>
            <button (click)="sortTable(1)" class="btn btn-primary">Start Date</button>  
        </td>       
        <td>
            <button (click)="sortTable(2)" class="btn btn-primary">End Date</button> 
        </td>
        <td>
            <button (click)="sortTable(0)" class="btn btn-primary">Priority</button> 
        </td>
        <td>
            <button (click)="sortTable(3)" class="btn btn-primary">Completed</button> 
        </td>
    </div>
    <div class="card-footer">
        <div class="col-lg-12 table-responsive">  
            <table class="table table-striped" id="userTask">
                <thead>  
                    <tr>
                        <th>Task ID</th>
                        <th>Task</th>
                        <th>Parent</th>
                        <th>Priority</th> 
                        <th>Start</th>  
                        <th>End</th>  
                        <th></th>  
                    </tr> 
                </thead>
                <tbody *ngIf ="projectID == ' ' || null || '0' ; else usertasklist">
                <!-- <tbody> -->
                    <tr *ngFor="let Usertask of allUsertask">
                        <td>{{Usertask.userTaskID}}</td>
                        <td>{{Usertask.userTaskDesc}}</td>  
                        <td>{{Usertask.parentTask.parentTaskDesc}}</td>  
                        <td>{{Usertask.userTaskPriority}}</td>  
                        <td>{{Usertask.userTaskStartDate}}</td>  
                        <td>{{Usertask.userTaskEndDate}}</td>    
                        <td>  
                            <!-- <button type="button" class="btn btn-primary mr-1" (click)="UsertaskEdit(Usertask.userTaskID)">Edit</button>   -->
                            <!-- <button type="button" class="btn btn-primary mr-1" routerLink="/usertask/{{Usertask.userTaskID}}">Edit</button> -->
                            <button type="button" class="btn btn-primary mr-1" (click)="UsertaskEdit(Usertask.userTaskID)">Edit</button>
                            <button type="button" class="btn btn-danger mr-1" (click)="EndUsertask(Usertask.userTaskID)">End Task</button>  
                        </td>
                    </tr>
                </tbody>
                <ng-template #usertasklist>
                <!-- <tbody> -->
                    <!-- <tr *ngFor="let User of allUser|async|"> -->
                    <!-- <tr ng-repeat="User in allUser|orderBy:propertyName:reverse"> -->
                    <tr *ngFor="let Usertasklist of allUsertasklist">
                        <td>{{Usertasklist.userTaskID}}</td>
                        <td>{{Usertasklist.userTaskDesc}}</td>  
                        <td>{{Usertasklist.parentTask.parentTaskDesc}}</td>  
                        <td>{{Usertasklist.userTaskPriority}}</td>  
                        <td>{{Usertasklist.userTaskStartDate}}</td>  
                        <td>{{Usertasklist.userTaskEndDate}}</td>    
                        <td>  
                            <!-- <button type="button" class="btn btn-primary mr-1" (click)="UsertaskEdit(Usertask.userTaskID)">Edit</button>   -->
                            <button type="button" class="btn btn-primary mr-1" (click)="UsertaskEdit(Usertasklist.userTaskID)">Edit</button>
                            <button type="button" class="btn btn-danger mr-1" (click)="EndUsertask(Usertasklist.userTaskID)">End Task</button>  
                        </td>
                    </tr>
                <!-- </tbody> -->
                </ng-template>
            </table>
        </div>
    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("userTask");
        switching = true;
        dir = "asc"; 
        while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("td")[n];
            y = rows[i + 1].getElementsByTagName("td")[n];
            if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch= true;
                break;
            }
            } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;      
        } else {
            if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
            }
        }
        }
    }
</script> 
