<div class="card">  
    <div class="card-header" style="text-align:center">
        <b>Add Task</b>
    </div>    
    <div class="card-body"> 
        <form [formGroup]="FromUsertask" (ngSubmit)="AddUpdateTask(FromUsertask.value)">
            <div class="row">  
                <div class="form-group col-sm-3">  
                    <input type="hidden" class="form-control" formControlName="userTaskID" id="userTaskID" >
                </div>
            </div>
            <div class="row">  
                <div class="form-group col-sm-3 mr-sm-3">
                    <label form="company">Project: </label> 
                    <select class="form-control custom-select" id="projectID" name="projectID" formControlName="projectID" (change)="GetProject($event)">
                        <option value="disabled">Choose Project</option>
                        <option *ngFor="let Project of allProject" [value]="Project.projectID" >{{Project.projectDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row">  
                <div class="form-group form-inline mr-sm-3 col-sm-3">  
                    <label for="company">Task: </label> <input type="text" class="form-control" formControlName="userTaskDesc" id="userTaskDesc" placeholder="Task Description">
                </div>
            </div>
            <div class="row">   
                <div class="form-group form-inline form-check-inline mr-sm-3 col-sm-3">
                    <label class="form-check-label">
                        <input class="form-check-input form-control" type="checkbox" formControlname="isParenttask" id="isParenttask" data-md-icheck (change)="checkParenttask($event)"> Parent Task
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline mr-sm-3 col-sm-3">
                    <label form="company">Priority: </label><input type="range" min="0" max="30" value="0" class="slider" id="priority" formControlName="userTaskPriority" oninput="prioritydisp.value=priority.value">
                    <output id="prioritydisp" name="prioritydisp" for="priority">0</output>
                </div>
            </div>
            <div class="row">  
                <div class="form-group col-sm-3 mr-sm-3">
                    <label form="company">Parent Task: </label> 
                    <select class="form-control custom-select" id="parentTaskID" name="parentTaskID" formControlName="parentTaskID" (change)="GetParenttask($event)">
                        <option value="disabled">Choose Parent Task</option>
                        <option *ngFor="let Task of allParenttask" [value]="Task.parentTaskID" >{{Task.parentTaskDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row">  
                <div class="form-group form-inline mr-sm-3 col-sm-3">
                    <label for="company">Start Date: </label>
                    <input type="date" class="form-control" formControlName="userTaskStartDate" id="userTaskStartDate" placeholder="Start Date"/>
                </div>
                <div class="form-group form-inline mr-sm-3 col-sm-3">
                    <label for="company">End Date: </label>
                    <input type="date" class="form-control" formControlName="userTaskEndDate" id="userTaskEndDate" placeholder="End Date"/>
                </div>
            </div>
            <div class="row">  
                <div class="form-group">
                    <label form="company">User: </label> 
                    <select class="form-control custom-select" id="userID" name="userID" formControlName="userID" (change)="GetUser($event)">
                        <option value="disabled">Choose User</option>
                        <option *ngFor="let User of allUser" [value]="User.userID" >{{User.userFirstName}} {{User.userLastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row">  
                <div class="form-group col-sm-3"> 
                    <button type="submit" class="btn btn-primary">{{addupdatebutton}}</button>
                </div>
                <div class="form-group col-sm-3">  
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>  
            </div>
        </form>
    </div>
</div>