<div class="card">  
    <div class="card-header" style="text-align:center">  
        <b>Add User</b>
    </div>
    <div class="card-body">  
        <form [formGroup]='FromUser' (ngSubmit)="AddUpdateUser(FromUser.value)">
                <div class="row">  
                        <div class="form-group col-sm-3">  
                            <input type="hidden" class="form-control" formControlName="userID" id="userID" >  
                        </div>
                    </div>
            <div class="row">  
                <div class="form-group col-sm-3">  
                    <label for="company">User First Name</label>  
                    <input type="text" class="form-control" formControlName="userFirstName" id="userFirstName" placeholder="User First Name" >  
                </div>
            </div>
            <div class="row">   
                <div class="form-group col-sm-3">  
                    <label for="company">User last Name</label>  
                    <input type="text" class="form-control" formControlName="userLastName" id="userLastName" placeholder="User last Name" >  
                </div>
            </div>
            <div class="row">  
                <div class="form-group col-sm-3">  
                    <label for="company">Employee ID</label>  
                    <input type="text" class="form-control" formControlName="userEmployeeID" id="userEmployeeID" placeholder="Employee ID" >  
                </div>
            </div>  
            <div class="row">  
                <div class="form-group col-sm-3" >
                    <button type="submit" class="btn btn-primary">{{addupdatebutton}}</button>
                </div>
                <div class="form-group col-sm-3">  
                    <button type="reset" class="btn btn-danger">Reset</button>  
                </div>  
            </div>  
        </form>
        <label form="company">Sort By: </label>
    
        <td>
            <button (click)="sort('userFirstName')" class="btn btn-primary">First Name</button>  
        </td>       
        <td>
            <button (click)="sort('userLastName')" class="btn btn-primary">Last Name</button> 
        </td>
        <td>
            <button (click)="sort('userEmployeeID')" class="btn btn-primary">ID</button> 
        </td>  
    </div>
    <div class="card-footer">
        <!-- <div class="col-lg-12 table-responsive">  
            <table class="table table-striped" id="usertable">
                <thead>  
                    <tr>
                        <th>User ID</th>  
                        <th>User First Name</th>  
                        <th>User Last Name</th>  
                        <th>Employee ID</th>    
                        <th></th>  
                    </tr> 
                </thead>  
                <tbody>  
                    <tr *ngFor="let User of allUser | orderBy: sortingName: isDesc">
                        <td>{{User.userID}}</td>  
                        <td>{{User.userFirstName}}</td>  
                        <td>{{User.userLastName}}</td>  
                        <td>{{User.userEmployeeID}}</td>    
                        <td>  
                            <button type="button" class="btn btn-primary mr-1" (click)="UserEdit(User.userID)">Edit</button>  
                            <button type="button" class="btn btn-danger mr-1" (click)="DeleteUser(User.userID)">Delete</button>  
                        </td>  
                    </tr>  
                </tbody>  
            </table>  
        </div>   -->
        <div *ngFor="let User of allUser | orderBy: sortingName: isDesc">
            <ul class="list-group">
                <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item">User First Name:   {{User.userFirstName}}</li>
                                <li class="list-group-item">User Last Name:   {{User.userLastName}}</li>
                                <li class="list-group-item">Employee ID:   {{User.userEmployeeID}}</li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary mr-1" (click)="UserEdit(User.userID)">Edit</button>      
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-danger mr-1" (click)="DeleteUser(User.userID)">Delete</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>  
</div>    