<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="text-align:left"> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="text-align:left">
  <a class="nav-link active" routerLink = "project">Projects</a>
  <a class="nav-link active" routerLink = "user">Users</a>
  <a class="nav-link active" routerLink = "usertask">Tasks</a>
</nav>

<router-outlet></router-outlet>
